@import '../../../styles/colors';

.home{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    &Logo {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin: 40px 0px 20px 0px;
        z-index: 99;

        & img {
            width: 100%;
            height: auto;
            max-width: 515px;
        }
    }

    &Description {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 25px;
        width: 60%;
        text-align: center;
        margin-bottom: 10px;
    }
}

.season2 {
    height: 130px !important;
    width: auto !important;
}

.liveButton {
    background-color: $primarySeason1Color;
    padding: 20px;
    font-size: 40px;
    margin-bottom: 20px;
    animation: shadow-pulse 2s infinite;
    box-shadow: 0 0 0 0px 1px;
    border-radius: 10px;
    color: white;
    text-decoration: none;

    &:hover {
        cursor: pointer;
        text-shadow: -1px 0 #202437, 0 1px #202437, 1px 0 #202437, 0 -1px #202437;
    }
}

@keyframes shadow-pulse
{
  0% {
    box-shadow: 0 0 0 0px orange;
  }
  100% {
    box-shadow: 0 0 0 5px rgba(0, 0, 0, 0);
  }
}

.nextStream {
    top: 18px;
    right: 10px;
    font-size: 20px;
    color: white;
    margin-bottom: 20px;
    font-size: 40px;
}

.trailerVideo {
    margin-bottom: 40px;
    border: none;
}

@media only screen and (max-width: 500px) {
    .homeDescription {
        width: 90%;
    }

    .nextStream {
        font-size: 20px;
    }

    .liveButton {
        padding: 10px;
        font-size: 30px;
    }

    .season2 {
        height: 100px !important;
        width: auto !important;
    }
  }